.bar {
   width: 40px;
   height: 3px;
   background-color: #7c69ef;

   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.prompt {
   color: #fff;
   font-size: 13px;
   margin-top: 7px;
   font-weight: 600;
   color: #fff;
}
