.modal-error {
   background-color: #fff;
   border-radius: 6px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   animation: popup 0.2s ease;

   padding: 60px 20px 30px 20px;
   position: relative;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.error-icon {
   width: 90px;
   height: 90px;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;

   color: #fff;
   background-color: #df4759;
   font-size: 60px;

   position: absolute;
   top: -42px;
}

.error-title {
   font-size: 24px;
   line-height: 36px;
   font-weight: 600;

   color: #333;
   margin-bottom: 20px;
}

.error-descr {
   font-size: 16px;
   line-height: 24px;
   width: 80%;
   text-align: center;
   color: gray;
   margin-bottom: 30px;
}

.ok-btn {
   outline: none;
   border: none;
   color: #fff;
   border-radius: 4px;
   padding: 10px 0;
   width: 30%;
   background-color: #df4759;
   font-family: 'Poppins', sans-serif;

   cursor: pointer;
   transition: all 0.3s ease;
}

.ok-btn:hover {
   background-color: #e85d6d;
}

@media screen and (max-width: 576px) {
   .modal-error {
      padding: 60px 0px 20px 0px;
      margin: 15px;
   }

   .message {
      font-size: 15px;
   }
}
