* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: #f6f7fb;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   overflow: hidden;
   padding: 0 10px;
   height: 100%;
}
